<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Uploads</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
  <div class="app">
        <h1> AI Video Subtitle Editor</h1>

        <div class="form-section">

            <form action="/upload" method="POST" enctype="multipart/form-data">
                <div class="form_sub_section">
                    <h2 class="upload_text">Upload Video<h2>
                    <h5 class="sub_upload_text"> Only .mp4 files (Required) </h4>
                    <input type="file" name="video_file">

                </div>

                <div class="form_sub_section">
                    <h2 class="upload_text">Upload Json Keys<h2>
                    <h5 class="sub_upload_text"> (Required) </h4>
                    <input type="file" name="json_file">
                </div>

                <div class="form_sub_section">
                    <h2 class="upload_text">Upload Video Transcript<h2>
                    <h5 class="sub_upload_text"> Download sample transcript format here (Optional)</h4>
                    <input type="file" name="transcript_file">
                </div>

                <div>
                    <input type="submit" name="submit" value="Upload">
                </div>

            </form>

        </div>
      
    </div>
    
  </div>
</body>
</html>