{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update text</h1>

    <div class="form">
        <form action="/update/{{task.id}}" method="POST">
            <input type="text" name="content" id="Content" value="{{task.Content}}">
            <input type="float" name="start time" id="Start_Time" value="{{task.Start_Time}}">
            <input type="float" name="end time" id="End_Time" value="{{task.End_Time}}">
            <input type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}
